# # Ignore all files with the specified name.
# # Scope is all repo folders.
# config.json

# # Ignore all files with the specified extension.
# # Scope is all repo folders.
# *.json

# # Add an exception so as to not ignore a file with the specified name.
# # Scope is all repo folders.
# !package.json

# # Ignore a file with the specified name.
# # Scoped to the 'logs' subfolder.
# /logs/test.logfile

# # Ignore all files with the specified name.
# # Scoped to the 'logs' subfolder and all folders beneath it.
# /logs/**/test.logfile

# # Ignore all files in the 'logs' subfolder.
# /logs/

setting.json
client_secret_640858056770-bk0paguasbv1efjp3m1v5lqgjj16qnlq.apps.googleusercontent.com.json
discord-bot-384217-cd8d059efffe.json
application_default_credentials.json